@import "tailwindcss";

body {
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  min-height: calc(100vh - 52px);
}

/* Login Animation wave */
.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave 2s ease-in-out infinite;
}
@keyframes wave {
  0%   { transform: rotate(0deg); }
  15%  { transform: rotate(14deg); }
  30%  { transform: rotate(-8deg); }
  45%  { transform: rotate(14deg); }
  60%  { transform: rotate(-4deg); }
  100% { transform: rotate(0deg); }
}
/* Optional: Custom scrollbar for better UX */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.online-indicator {
  box-shadow: 0 0 0 2px white;
}
.offline-indicator {
  opacity: 0.6;
}